# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# AI
.omc/
.claude/
.cursor/
.aider*
.copilot/

# Project
config.yaml
.env
config.env
**kubeconfig**
secrets/*
**.log

.omc/
