---
auth:
  enabled: true
  password: ${quote}${REDIS_PASSWORD}${quote}
  # Enable ACL for multiple users
  usePasswordFiles: false
acl:
  enabled: true
  existingSecret: redis-acl-secret
master:
  existingClaim: redis-pvc
  containerSecurityContext:
    runAsGroup: 1000
    runAsUser: 1000
  podSecurityContext:
    enabled: true
    fsGroup: 1000
architecture: standalone